<html>
	<head><title>Reset Your Password</title></head>
	<body>
		<h1>Reset Your Password</h1>

		<p>There was a request to restore your password</p>
		<p><b>Please ignore this email if you did not make it</b></p>

		<p>Otherwise, click to the following link:<br />
			<a href='{{url}}'><i>Restore password</i></a>
		</p>
	</body>
</html>